ul {
    list-style-type: none;
    margin: -134px;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.nav1 {
    display: flex;
    /* background-color: aquamarine; */
    justify-content: center;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
}

li a:hover {

    color: black;
    text-shadow: 2px 2px rgb(183, 156, 156);
}

#navdiv {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpYR4zpaxEXRC73PEWepg6b8Q9HJbTN4g8MA&usqp=CAU);
    padding: 10%;

    background-repeat: repeat;

}

#logo {
    margin-top: 0%;
}